---
title: about
---

<section class="contact-banner">
  <div class="container-fluid">
    <div class="row" style="padding: 10px 0;">
        <div class="col-md-12">
          <br>
        <h1 class="content" align="left">Let's Talk</h1>
        <h2 class="content" style="font-weight:normal; letter-spacing: 1px; text-align: justify;">We Love Discussing What We Do</h2>

        </div>
    </div>
  </div>
</section>



<section id="contact">
  <div class="container-fluid">
    <div class="row contact-us">
      <div class="col-md-5 col-md-offset-1">
        
        <h4  style="line-height: 130%; font-weight: normal; text-align: justify;">Speak to one of Acerta's representatives to discuss how we can enable you to:</h4>
        <ul>
          <li style="padding-top: 7px;">Get real-time alerts about defects in your products</li>
          <li style="padding-top: 7px;">Reduce the time spent on root-cause analysis</li>
          <li style="padding-top: 7px;">Achieve next-generation product quality without adding any hardware to your factory</li>
        </ul>
        
      </div>

      <div class="col-md-5 col-md-offset-1 col-lg-3">
        <form id="about-form" class="script-form" method="POST" action="https://script.google.com/macros/s/AKfycbwQceSRKQOu7G98yl41S96sH9P0E5AuGjhRuzmvXdP9IAFJq-I/exec">
          
          <div class="input-group"> First Name: &#42;<br>
            <input id="first-name" name="first-name" type="text" size="35" class="form-control" aria-describedby="first-name" required>
          </div>
          <div class="input-group"> Last Name: &#42;<br>
            <input id="last-name" name="last-name" type="text" size="35" class="form-control" aria-describedby="last-name" required>
          </div>
          <div class="input-group"> Company:<br>
            <input id="company" name="company" type="text" size="35" class="form-control" aria-describedby="company">
          </div>
          <div class="input-group"> Email: &#42;<br>
            <input id="email" name="email" type="email" size="35" class="form-control"  aria-describedby="email" required>
          </div>
          <div class="input-group"> Phone: &#42;<br>
            <input id="phone" name="phone" type="phone" size="35" class="form-control"  aria-describedby="phone" required>
          </div>
          <div class="input-group"> What would you like to discuss?<br>
            <textarea name="inquiry" cols="35" form="about-form" ></textarea>
          </div>
          <div class="form-msg">
            <!--  Result Message goes here -->
          </div>
          <button type="submit" class="btn-acerta">Let's Talk</button>
        </form>
      </div>
    </div>
    <br><br>

    <div class="row text-center emails">
      <div class="col-md-3 center-block">
        <h3>Sales</h3>
        <a href="mailto:sales@acerta.ca">sales@acerta.ca</a>
      </div>
      <div class="col-md-3 center-block">
        <h3>Customer Support</h3>
        <a href="mailto:help@acerta.ca">help@acerta.ca</a>
      </div>
      <div class="col-md-3 center-block">
        <h3>Press</h3>
        <a href="mailto:info@acerta.ca">info@acerta.ca</a>
      </div>
    </div>
    <br><br>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6"><center>
        <div id="map"></div></center>
      </div>
      <div class="col-xs-12 col-sm-6">
        <cetner><p style="font-size: 16px; line-height: 140%; text-align: left;"><b>Acerta Analytics Solutions</b><br>
        Velocity Garage<br>
        151 Charles St. West, Suite 199<br>
        Kitchener, Ontario, Canada<br>
        N2G 1H6<br>
        +1 (519) 729-5543
        </p></cetner>
      </div>
      
    </div>
    
  </div>
</section>