---
title: index
---
    <section class="intro-banner">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            	<br>
            	<h1 class="content" align="left">Boost Your Quality Control With Acerta</h1>
            	<br>
            	<h2 class="content" style="font-weight:normal; letter-spacing: 1px; text-align: justify;">Machine Learning Platform for Extracting Actionable Insight from Test Data, Trusted by OEMs and Tier-1 Manufacturers</h2>
            	<br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2">
            	<a class="btn-acerta" href="contact.html">Let's Talk</a> 
            	<a class="btn-new" href="product.html">Learn More</a>
            	<br>
            </div>
            
        </div>
      </div>
    </section>

    <section class="customers">
      <div class="container-fluid">
        <div class="text-center row">
          <div class="col-md-2 img-wrapper"><img src="images/clients/FCA.png" alt=""></div>
          <div class="col-md-2 img-wrapper"><img src="images/clients/ZF.jpg" alt=""></div>
          <div class="col-md-2 img-wrapper"><img src="images/clients/Roush.png" alt=""></div>
          <div class="col-md-2 img-wrapper"><img src="images/clients/Volkswagen-logo.jpg
         " alt=""></div>
          <div class="col-md-2 img-wrapper"><img src="images/clients/Magna.png" alt=""></div>
          <div class="col-md-2 img-wrapper"><img src="images/clients/QNX.png" alt=""></div>
        </div>
      </div>
    </section>
    
    <section class="main-intro" style="padding-top: 10px;">
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-md-10 col-md-offset-1">
          	<h1>What We Do</h1>
            <br>
            <p>Acerta offers a SaaS platform that uses machine learning to provide real-time malfunction detection and failure prediction. Our proprietary state-of-the-art machine learning algorithms allow our clients to access the full potential of their collected data.</p> 
            <p>The platform learns the normal behavior of the tested system and the complex correlations between data streams, and automatically detects anomalies in real-time. It assists engineers in identifying the root cause and provides them with actionable insight, thus saving millions of dollars in warranty claims, brand value, manufacturing down time, engineering resources, and legal expenses.</p>
          </div>
        </div>
      </div>
    </section>

    {{#parseJSON '{
      "btn1-text": "Applications",
      "link1": "product.html",
      "btn2-text": "Success Stories",
      "link2": "case-studies.html"    
    }'}}
      {{> cta }}
    {{/parseJSON}}

    <section class="advantages">
      <div class="container-fluid text-center">
      <div class="row">
      	<h1>Augment Your Quality Control Process With AI</h1><br><br>
        <div class="col-md-1 advantage-item">
          	<img src="images/advantage1.svg" alt="clock to represent real-time">
        </div>
        <div class="col-md-4">
        	<h3 align="left">Real Time</h3>
          	<p align="justify">Data is analyzed as it is collected and anomalies are reported immediately</p>
        </div>
        <div class="col-md-1 col-md-offset-1 advantage-item">
          	<img src="images/advantage4.svg" alt="rocket to represent dynamic">
        </div>
        <div class="col-md-4">  
        	<h3 align="left">Dynamic</h3>
          	<p align="justify">The algorithm learns and adjusts as changes are introduced to the product configuration or manufacturing process</p>
        </div>
      </div>

      <div class="row"><br><br>
        <div class="col-md-1 advantage-item">
          <img src="images/advantage3.svg" alt="graph to represent scalable">
        </div>
        <div class="col-md-4">
          <h3 align="left">Scalable</h3>
          <p align="justify">The algorithms are easily applied to new models and improve with the growth in amount of collectd data</p>
        </div>
        <div class="col-md-1 col-md-offset-1 advantage-item">
          <img src="images/integration.svg" alt="knobs to represent flexible">
        </div>
        <div class="col-md-4">
          <h3 align="left">Seamless Integration</h3>
          <p align="justify">The platform augments the existing quality control process by integrating through dedicated APIs, and requires no additional hardware</p>
        </div>
      </div>
      </div>
    </section>

    <section class="how-it-works">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-offset-3 col-md-6 text-center">
            <h1>How It Works</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-1 col-md-5">
            <ol>
              <li>
                <h2>Acquire</h2>
                <p>Data is collected using existing data collection setup, and sent to our secure private cloud</p>
              </li>
              <li>
                <h2>Analyze</h2>
                <p>Our machine learning platform analyzes the data and identifies anomalies representative of defects</p>
              </li>
              <li>
                <h2>Alert</h2>
                <p>Your system is notified in real-time when an issue is detected, allowing you to take immediate action</p>
              </li>
            </ol>

          </div>
          <div class="col-md-6">
            <div class="diagram"></div>
          </div>
        </div>
      </div>
    </section>
    

    {{#parseJSON '{
      "btn1-text": "See It In Action",
      "link1": "contact.html",
      "btn2-text": "Uses",
      "link2": "product.html"    
    }'}}
      {{> cta }}
    {{/parseJSON}}