---
title: index
---
<section class="intro-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
       	<br>
       	<h1 class="content" align="left">Boost Your Quality Control With Acerta</h1>
       	<br>
       	<h2 class="content" style="font-weight:normal; letter-spacing: 1px;">Machine Learning Platform for Extracting Actionable Insight from Test Data, Trusted by OEMs and Tier-1 Manufacturers</h2>
       	<br>
       	<center><a class="btn-acerta text-center" href="contact.html">Let's Talk</a> 
       	<a class="btn-new" href="#learn-more">Learn More</a></center>
      </div>
    </div>
  </div>
</section>

<section class="customers" id="learn-more">
  <div class="container-fluid">
    <div class="text-center row">
      <div class="col-xs-6 col-sm-4 col-md-2 img-wrapper"><img src="images/clients/FCA.png" alt=""></div>
      <div class="col-xs-6 col-sm-4 col-md-2 img-wrapper"><img src="images/clients/ZF.jpg" alt=""></div>
      <div class="col-xs-6 col-sm-4 col-md-2 img-wrapper"><img src="images/clients/Roush.png" alt=""></div>
      <div class="col-xs-6 col-sm-4 col-md-2 img-wrapper"><img src="images/clients/Volkswagen-logo.jpg
     " alt=""></div>
      <div class="col-xs-6 col-sm-4 col-md-2 img-wrapper"><img src="images/clients/Magna.png" alt=""></div>
      <div class="col-xs-6 col-sm-4 col-md-2 img-wrapper"><img src="images/clients/QNX.png" alt=""></div>
    </div>
  </div>
</section>

<section class="main-intro" style="padding-top: 10px;">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
      	<h1>What We Do</h1>
        <br>
        <p>Acerta offers a SaaS platform that uses machine learning to provide real-time malfunction detection and failure prediction. Our proprietary cutting-edge technology allows our clients to access the full potential of their collected data. The platform learns the normal behavior of the tested system and the complex correlations between data streams, and automatically detects anomalies in real-time. It assists engineers in identifying the root cause and provides them with actionable insight, thus saving millions of dollars in warranty claims, manufacturing down time, engineering resources, brand value, and legal expenses.</p>
      </div>
    </div>
  </div>
</section>

<section class="how-it-works">
  <div class="container-fluid">
    <div class="row">
      <div class="text-center">
        <h1>How It Works</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-5">
        <ol>
          <li>
            <h2>Acquire</h2>
            <p>Data is collected using existing the client's existing setup and sent to our secure private cloud</p>
          </li>
          <li>
            <h2>Analyze</h2>
            <p>Our machine learning platform analyzes the data and identifies anomalies indicative of defects</p>
          </li>
          <li>
            <h2>Alert</h2>
            <p>Client system is notified in real-time when an issue is detected, allowing them to take immediate action</p>
          </li>
        </ol>

      </div>
      <div class="col-md-5">
        <div class="diagram"></div>
      </div>
    </div>
  </div>
</section>


<section class="advantages">
  <div class="container-fluid text-center">
  	<div class="row">
 		<h1>Why Acerta</h1><br><br>
	    <div class="col-xs-1 col-xs-offset-1 advantage-item">
	      	<img src="images/advantage1.svg" alt="clock to represent real-time">
	    </div>
	    <div class="col-md-4 col-xs-9">
	    	<h3>Real Time</h3>
	      	<p>Data is analyzed as it's collected and any anomalies are reported immediately</p>
	    </div>
	    <div class="col-xs-1 col-xs-offset-1 advantage-item">
	      	<img src="images/advantage4.svg" alt="knobs to represent dynamic">
	    </div>
	    <div class="col-md-4 col-xs-9">  
	    	<h3>Dynamic</h3>
	      	<p>The algorithms learn and adjust as changes are introduced into the product configuration or manufacturing process</p>
	    </div>
	  </div>

	  <div class="row">
	    <div class="col-xs-1 col-xs-offset-1 advantage-item">
	      <img src="images/advantage3.svg" alt="graph to represent scalable">
	    </div>
	    <div class="col-md-4 col-xs-9">
	      <h3>Scalable</h3>
	      <p>The algorithms are easily applied to new models and improve as the amount of collectd data increases</p>
	    </div>
	    <div class="col-xs-1 col-xs-offset-1 advantage-item">
	      <img src="images/integration.svg" alt="puzzle to represent seamless">
	    </div>
	    <div class="col-md-4 col-xs-9">
	      <h3>Seamless Integration</h3>
	      <p>The platform augments the existing quality control process by integrating through dedicated APIs, and requires no additional hardware</p>
	    </div>
	  </div>
  </div>
</section>

{{#parseJSON '{
  "btn1-text": "Products",
  "link1": "product.html",
  "btn2-text": "Let\'s Talk",
  "link2": "contact.html"    
}'}}
  {{> cta }}
{{/parseJSON}}

