---
title: product
---


<section class="products-banner">
  <div class="container-fluid">
    <div class="row" style="padding: 10px 0;">
        <div class="col-md-12">
          <br>
        <h1 class="content" align="left">Our Products</h1>
        <h2 class="content" style="font-weight:normal; letter-spacing: 1px;">Get More From Your Data With Acerta</h2>

        </div>
    </div>
  </div>
</section>


<section class="product-intro">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>We developed our platform to allow our clients to access the full potential of their collected data. <br><br>
        Each one of our products was designed to extract the maximum value for the client based on the data they collect. They all provide actionable insight to support analysis and decision-making, thus saving millions of dollars in warranty claims, repair and maintenance costs, manufacturing downtime, and legal expenses.</p>

      </div>
    </div>
  </div>
</section>


<section class="advantages">
  <div class="container-fluid text-left">
    <div class="row">
      <div class="col-xs-1 col-xs-offset-0 advantage-item">
        <img src="images/element-icon.jpg" alt="" style="max-width: 80px">
      </div>
      <div class="col-md-5 col-xs-11">
        <h3 align="left"><u>Acerta Element&trade;:</u><br>End-of-Line Data Analytics for Tier-1 Manufacturers</h3>
        <p align="left">Element&trade; augments existing end-of-line test processes by applying our algorithms to the test data in real-time. It automatically detects anomalies and produces actionable insights that assist engineers in root cause analysis.</p>
      </div>
      <div class="col-xs-1 col-xs-offset-0 advantage-item">
        <img src="images/molecule-icon.png" alt="" style="max-width: 80px">
      </div>
      <div class="col-md-5 col-xs-11">
        <h3 align="left"><u>Acerta Molecule&trade;:</u><br>End-of-Line Data Analytics for OEMs</h3>
        <p>Molecule&trade; is designed to work with dynamic and highly contextual data. It boosts the tested product's quality by analyzing the test data collected by the manufacturer, including complex correlations between the vehicle's various subsystems, and providing alerts and insight into each detected anomaly. The dynamic nature of our algorithms is key to their effectiveness and makes them ideal for analyzing automotive data.</p>
      </div>
    </div>  
    <div class="row">
      <div class="col-xs-1 col-xs-offset-0 advantage-item">
        <img src="images/fusion-icon.png" alt="" style="max-width: 80px">
      </div>
      <div class="col-md-5 col-xs-11">
        <h3 align="left"><u>Acerta Fusion&trade;:</u><br>Road-Test Data Analytics for Pre-Production Vehicles</h3>
        <p align="left">Fusion&trade; evaluates vehicle health in real-time and quickly identifies upcoming issues. It analyzes the data coming from hundreds of sensors in real-time, and provides engineers with actionable insight. By using Fusion&trade; to detect hidden issues at this stage of development, our clients can avoid discovering them in the later, more costly phase of serial production.</p>
      </div>
      <div class="col-xs-1 col-xs-offset-0 advantage-item">
        <img src="images/reaction-icon.png" alt="" style="max-width: 80px">
      </div>
      <div class="col-md-5 col-xs-11">
        <h3 align="left"><u>Acerta Reaction&trade;:</u><br>Remaining Useful Life Analytics for Predictive Maintenance</h3>
        <p align="left">Reaction&trade; provides automatic health monitoring for mechanical systems. It analyzes the various data collected from these systems in real-time and evaluates their remaining useful life. By using Reaction&trade;, engineers can shift from preventive to predective maintenance and significantly reduce expenses on maintenance, warranty, and repairs.</p>
      </div>
    </div>  
  </div>
</section>


    {{#parseJSON '{
      "btn1-text": "Case Studies",
      "link1": "case-studies.html",  
      "btn2-text": "Let\'s Talk",
      "link2": "contact.html"
    }'}}
      {{> cta }}
    {{/parseJSON}}

